* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.container_large {
  width: 85% !important;
  margin: auto;
}

.container_medium {
  width: 65% !important;
  margin: auto;
}

.container_small {
  width: 45% !important;
  margin: auto;
}

.container_fluid {
  width: 100%;
}

.debug {
  background-color: red;
  border: 1px solid blue;
  height: 200px;
}

.container_medium ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.container_medium ul li {
  position: relative;
  margin: 10px;
  width: calc(33% - 20px);
}

.container_medium ul li img {
  width: 100%;
}

.container_medium ul li .info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: red;
  opacity: 0;
  transition: opacity 0.5s;
}

.container_medium ul li:hover .info {
  opacity: 1;
}

footer .container_medium {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}

footer .container_medium ul {
  list-style: none;
}

footer .container_medium ul li {
  padding: 5px;
  font-size: 13px;
}

footer .container_medium ul li:hover {
  text-decoration: underline;
}

footer .container_medium ul li:first-child {
  font-size: 14px;
  font-weight: 500;
}

footer .container_medium ul li:first-child:hover {
  text-decoration: none;
}

footer .container_medium ul li:first-child:hover a {
  text-decoration: none;
  cursor: default;
}

footer .container_medium ul li a {
  text-decoration: none;
  color: #000;
}

