* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.container_large {
  width: 85% !important;
  margin: auto;
}

.container_medium {
  width: 65% !important;
  margin: auto;
}

.container_small {
  width: 45% !important;
  margin: auto;
}

.debug {
  background-color: red;
  border: 1px solid blue;
  height: 200px;
}

.container_fluid .logo-wrapper {
  width: 15%;
  margin: auto;
  height: 150px;
  margin-top: 20px;
}

.container_fluid .logo-wrapper img {
  width: 100%;
}

.container_fluid nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

.container_fluid nav ul li {
  margin-top: 10px;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}

.container_fluid nav ul li:hover {
  background-color: #b6dbe4;
}

.container_fluid nav ul li a {
  text-decoration: none;
  color: #000;
}

.background-img {
  background-image: url("/images/fondo-pag-speciali.jpg");
}

.background-img .container_medium h2 {
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 30px;
  color: #002d73;
  padding: 20px 0px;
}

.background-img .container_medium .space {
  padding-top: 50px;
}

.background-img .container_medium ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.background-img .container_medium ul li {
  position: relative;
  margin: 10px;
  width: calc(33% - 20px);
}

.background-img .container_medium ul li img {
  width: 100%;
}

.background-img .container_medium ul li .info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #6fa5c0;
  opacity: 0;
  transition: opacity 0.5s;
}

.background-img .container_medium ul li .info a {
  text-decoration: none;
  color: #fff;
}

.background-img .container_medium ul li .info a h3 {
  margin-top: 60px;
  font-size: 30px;
  margin-bottom: 20px;
  padding: 0px 60px;
}

.background-img .container_medium ul li .info img {
  width: 30px;
}

.background-img .container_medium ul li:hover .info {
  opacity: 0.6;
}

.footer-bg {
  background-image: url("/images/footer-montagne-bottom.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.footer-bg .container_medium .row-footer {
  padding-top: 50px;
  padding-bottom: 150px;
  display: flex;
  color: #616161;
}

.footer-bg .container_medium .row-footer .col-footer {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.footer-bg .container_medium .row-footer .col-footer img {
  width: 70%;
  padding-bottom: 20px;
}

.footer-bg .container_medium .row-footer .col-footer h2 {
  padding-bottom: 10px;
}

.footer-bg .container_medium .row-footer .col-footer ul {
  list-style: none;
}

.footer-bg .container_medium .row-footer .col-footer ul li {
  padding: 5px 0px;
  cursor: pointer;
}

.footer-bg .container_medium .row-footer .col-footer ul li:hover {
  color: #000;
}

.detail .cont-img {
  width: 100%;
  background-color: #b8dae6;
  margin-bottom: 30px;
}

.detail .cont-img h1 {
  font-size: 35px;
  top: 2%;
  left: 38%;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 30px;
  color: #002d73;
}

.detail .cont-img img {
  display: block;
  width: 60%;
  margin: auto;
  height: 120%;
}

.detail .cont-img .desc {
  line-height: 1.6;
}

.detail .cont-img .desc p {
  font-size: 22px;
  color: #002d73;
  padding-bottom: 30px;
}

