* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-family: 'Montserrat', sans-serif;
 }

  .container_large {
    width: 85% !important;
    margin: auto;
  }
  .container_medium {
    width: 65% !important;
    margin: auto;
  }
  .container_small {
    width: 45% !important;
    margin: auto;
  }
  .debug {
    background-color: red;
    border: 1px solid blue;
    height: 200px;
  }
