@import "partial/_variable";
.container_fluid{
  .logo-wrapper {
    width: 15%;
    margin: auto;
    height: 150px;
    margin-top: 20px;
    img {
      width: 100%
    }
  }
  nav {
    ul {
      display: flex;
      list-style: none;
      justify-content: center;
      li {
        margin-top: 10px;
        padding: 20px;
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
        font-size: 20px;
        font-weight: 600;
        &:hover {
          background-color: $mainColor;
        }
        a {
          text-decoration: none;
          color: #000;
        }
      }
    }
  }
}
