@import "partial/_variable";
.background-img {
  background-image: url("/images/fondo-pag-speciali.jpg");

  .container_medium {
    h2 {
      margin-left: 10px;
      text-transform: uppercase;
      font-size: 30px;
      color: $secondColor;
      padding: 20px 0px;
    }
    .space {
      padding-top: 50px;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      li {
        position: relative;
        margin: 10px;
        width: calc(33% - 20px);
        img {
          width: 100%;
        }
        .info {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          width: 100%;
          height: 100%;
          background-color: #6fa5c0;
          opacity: 0;
          transition: opacity 0.5s;
          a {
            text-decoration: none;
            color: #fff;
            h3 {
              margin-top: 60px;
              font-size: 30px;
              margin-bottom: 20px;
              padding: 0px 60px;

            }

          }
          img{
            width: 30px;
          }
        }
        &:hover .info {
          opacity: 0.6;
        }
      }

    }
  }
}
